<!-- ko with: manageGeneral -->

<!-- ----------------------------- Groups ---------------------------- -->

<div id="myModal" class="modal fade" data-bind="showModal:newGroup, with:newGroup">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-bind="click: $parent.closeNewGroupDialog">&times;</button>
                <h4 class="modal-title">New Group</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="groupName" class="control-label col-xs-4">Group Name</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" id="groupName" placeholder="Group Name" data-bind="value: name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="groupKey" class="control-label col-xs-4">Group Key</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" id="groupKey" placeholder="Group Key" data-bind="value: key">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="faculty" class="control-label col-xs-4">Faculty</label>
                        <div class="col-xs-8">
                            <select class="dropdown" data-bind="options: $parent.faculties, optionsText: 'name', value: faculty"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="parentGroup" class="control-label col-xs-4">Parent Group</label>
                        <div class="col-xs-8">
                            <select class="dropdown" data-bind="options: $parent.groups, optionsText: 'name', value: parentGroup, optionsCaption: 'select group'"></select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" data-bind="click: $parent.closeNewGroupDialog">Close</button>
                <button type="button" class="btn btn-primary" data-bind="click: $parent.saveNewGroup">Save</button>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="col-md-12">
        <p class="h2">Groups</p>
    </div>
    <div class="col-md-12">
        <button type="button" class="btn btn-success" data-bind="click: createNewGroup">Create new group</button>
    </div>
    <div class="col-md-12">
        <table class="table table-hover tableEditRows">
            <thead>
                <tr>
                    <th></th>
                    <th>Key</th>
                    <th>Name</th>
                    <th>Faculty</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: groups">
                <tr data-bind="click: $parent.openGroup">
                    <td>
                        <span class="glyphicon glyphicon-edit"></span>
                    </td>
                    <td data-bind="text: key"></td>
                    <td data-bind="text: name"></td>
                    <td data-bind="text: faculty().name"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<!-- ------------------------- Teachers ---------------------------- -->

<div id="myModal" class="modal fade" data-bind="showModal:newTeacher, with:newTeacher">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-bind="click: $parent.closeNewTeacherDialog">&times;</button>
                <h4 class="modal-title">New Group</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="teacherName" class="control-label col-xs-4">Name</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" id="teacherName" placeholder="Name" data-bind="value: name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="teacherMiddlename" class="control-label col-xs-4">Middlename</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" id="teacherMiddlename" placeholder="Middlename" data-bind="value: middlename">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="teacherSurname" class="control-label col-xs-4">Surname</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" id="teacherSurname" placeholder="Surname" data-bind="value: surname">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" data-bind="click: $parent.closeNewTeacherDialog">Close</button>
                <button type="button" class="btn btn-primary" data-bind="click: $parent.saveNewTeacher">Save</button>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="col-md-12">
        <p class="h2">Teachers</p>
    </div>
    <div class="col-md-12">
        <button type="button" class="btn btn-success" data-bind="click: createNewTeacher">Add teacher</button>
    </div>
    <div class="col-md-12">
        <table class="table table-hover tableEditRows">
            <thead>
                <tr>
                    <th></th>
                    <th>Surname</th>
                    <th>Name</th>
                    <th>Middle Name</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: teachers">
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-edit"></span>
                    </td>
                    <td data-bind="text: surname"></td>
                    <td data-bind="text: name"></td>
                    <td data-bind="text: middlename"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!------------------- Subjects ----------------->

<div id="myModal" class="modal fade" data-bind="showModal:editSubject, with:editSubject">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-bind="click: $parent.closeSubjectEditDialog">&times;</button>
                <h4 class="modal-title">New Group</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="teacherName" class="control-label col-xs-4">Name</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" id="subjectName" placeholder="Name" data-bind="value: name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="subjectType" class="control-label col-xs-4">Type</label>
                        <div class="col-xs-8">
                            <!-- has strong connection with SubjectType -->
                            <select data-bind="value: type" id="subjectType">
                                <option value="0">Lecture</option>
                                <option value="1">Practice</option>
                                <option value="2">Other</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="subjectTeacher" class="control-label col-xs-4">Teacher</label>
                        <div class="col-xs-8">
                            <select class="dropdown" data-bind="options: $parent.teachers, optionsText: 'presentName', value: teacher"></select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" data-bind="click: $parent.closeSubjectEditDialog">Close</button>
                <button type="button" class="btn btn-primary" data-bind="click: $parent.saveSubject">Save</button>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="col-md-12">
        <p class="h2">Subjects</p>
    </div>
    <div class="col-md-12">
        <button type="button" class="btn btn-success" data-bind="click: createNewSubject">Add subject</button>
    </div>
    <div class="col-md-12">
        <table class="table table-hover tableEditRows">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>teacher</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: subjects">
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-edit"></span>
                    </td>
                    <td data-bind="text: name"></td>
                    <td data-bind="text: presentType"></td>
                    <td data-bind="text: teacher().presentName"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<!-- /ko -->